body{

    background-color: #0090F9;
        font-family: 'Dosis', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .header{
        background: black;
        width: auto;
        height: 70%;
        margin: auto;
        position: relative;
    
    }
    
    .navigasi{
        margin:  auto;
        display: flex;
        align-items: center;
    }
    
    ul{
        flex: 1;
        text-align: right;
        }
        
        ul li{
            
            display: inline-block;
            list-style: none;
            margin: 0 25px;
        }
        
        ul li a{
            text-decoration: none;
            color:#f5f5f5;
            padding: 0 10px;
            position: relative;
        }
        
        ul li :hover{
            color: #0090F9;
    }

    /* contain */


    botton{
        display: inline-block;
        background: rgb(230, 192, 25);
        color: #ffffff;
        text-decoration: none;
        padding: 20px 40px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px solid rgb(197, 167, 35);
    }
    
    botton:hover{
        background: rgb(255, 208, 0);
    }
    

    .containerpic{
        box-sizing: border-box;
    }

    .News{
        border: 1px solid #ccc;
    }

    .News img{
        width: 100%;
        height: auto;
        
    }

    .eventname{
        padding: 15px;
        text-align: center;
    }

    .PICTURE{
        padding: 0 6px;
        float: left;
        width: 25%;

    }

     @media  screen and (max-width: 700px) {
        .PICTURE{
            width: 50%;
            margin: 6px 0;
        }


        
            botton{
                display: inline-block;
                background: rgb(230, 192, 25);
                color: #ffffff;
                text-decoration: none;
                padding: 20px 40px ;
                border-radius: 12px;
                font-size: 14px;
                font-weight: bold;
                border-bottom: 3px solid rgb(197, 167, 35);
                
            }
            
            botton:hover{
                background: rgb(255, 208, 0);
            }
        
       
    } 

     @media  screen and (max-width: 500px) {
        .PICTURE{
            width: 100%;
     }


    botton{
        display: inline-block;
        background: rgb(230, 192, 25);
        color: #ffffff;
        text-decoration: none;
        padding: 20px 40px ;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px solid rgb(197, 167, 35);
        
    }
    
    botton:hover{
        background: rgb(255, 208, 0);
    }

}
    .Fishcontain h1{
        font-size: 50px;
        text-align: center; 
        margin-top: 5px;
        color: #FFFFFF;
         
    }
    
    .Fishcontain .bottom{
        text-align: center; 
        margin-top: 20px;
    }
    
    .botton1 {
        width: 30%;
        display: flex;
        position: absolute;
        margin-left: 10%;
        background: rgb(230, 192, 25);
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px solid rgb(197, 167, 35);
        justify-content: center;
        text-align: center;
    }
    
    .botton2 {
        width: 30%;
        display: flex;
        position: relative;
        margin-left: 50%;
        background: rgb(230, 192, 25);
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px solid rgb(197, 167, 35);
        justify-content: center;
        text-align: center;
        
        
    }
    
    .botton1:hover{
        background: rgb(255, 208, 0);
    }
    
    .botton2:hover{
        background: rgb(255, 208, 0);
    }
    
    
    .Landscape{
        display: block;
         
    }

    /* footer */

    footer{
        position: fixed;
        bottom: 0;
    }
        
    .footer{
        background: black;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold;
        padding: 5px 20px 5px 20px;
        margin-top: 100px;
        overflow: hidden;
    }

   
    
    .footer .FL,
    .footer .FC,
    .footer .FR{
          display: inline-block;
          vertical-align: top;
    }
    
    
    
    .footer .FL{
    width: 20%;
    text-align: center; 
    }

    .FL{
        margin:  auto;
        display: flex;
        align-items: center;
    }
    
    .footer h3{
        color:#FFFFFF ;
        margin: 0;
        padding-bottom: -7px;
    }
    
    .footer h6{
        color: #FFFFFF;
        margin: 0;
        padding-top: 5%;
    }

    .footer h4{
        color: #FFFFFF;
        margin: 0;
        
    }
    
    .footer .FC{
        width: 30%;
        margin: 0;
        text-align: center; 
    }
    
    .FC .Ig .a{
        display: inline-block;
        color: #FFFFFF;
        vertical-align: middle;
        padding-bottom: 2px;
        
       
    }
    .FC a{
        font-size: 15px;
        font-style: none;
        list-style: none;
    }
    .FC .Fb .a{
        display: inline-block;
        color: #FFFFFF;
        vertical-align: middle;
        padding-top: 10%;
       
    }
    
    .footer .FR{
        width: 30%;
        margin: 0;
        text-align: center; 
    }
    
    .footer .FR .forinfo{
        line-height: 20px;
    }
    
    .footer .FR .forinfo a {
        position: relative;
        margin-left: 100px;
    }