body{

    background-color: #0090F9;
        font-family: 'Dosis', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .header{
        background: black;
        width: auto;
        height: 70%;
        margin: auto;
        position: relative;
    
    }
    
    .navigasi{
        margin:  auto;
        display: flex;
        align-items: center;
    }
    
    ul{
        flex: 1;
        text-align: right;
        }
        
        ul li{
            
            display: inline-block;
            list-style: none;
            margin: 0 25px;
        }
        
        ul li a{
            text-decoration: none;
            color:#f5f5f5;
            padding: 0 10px;
            position: relative;
        }
        
        ul li :hover{
            color: #0090F9;
    }

    /* contain */

    button{
        right: 100px;      
        padding: 4px 20px;
        background-color: rgb(230, 192, 25);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .container{
        width: 100%;
        min-height: 100vh;
    }
    
    .contain{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 100px;
    }
    
    .contain_home{
        float: right;
        width: 55%;
    }
    
    .FISH_Pic{
        float: left;
        width: 40%;
    }
    
    .FISH_Pic img{
        width: 100%;
        height: auto;
    
    }
    
    .contain_home .desciption h3{
        margin-top:20px;
        line-height: 1.5;
        
    }

    .Titel{
        color: white;
    }
    
    .desciption{
        color: white;
    }
    botton{
        display: inline-block;
        background: rgb(230, 192, 25);
        color: #ffffff;
        text-decoration: none;
        padding: 20px 40px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px solid rgb(197, 167, 35);
    }
    
    botton:hover{
        background: rgb(255, 208, 0);
    }
    
    @media screen and (max-width: 768px) {
        .contain{
            width: 90%;
            display: block;
            margin: auto;
            padding-top: 100px;
        }
    
        .contain_home{
            float: none;
            width: 55%;
            display: block;
            margin: auto;
        }
    
        .FISH_Pic{
            float: none;
            width: 55%;
            display: block;
            margin: auto;
        }
    
        .contain_home .Titel h1{
            text-align: center;   
        }
    
        .contain_home .desciption h3{
        text-align: left;
        margin-top:20px;

        
        
        
        }
    
        botton{
            display: inline-block;
            background: rgb(230, 192, 25);
            color: #ffffff;
            text-decoration: none;
            padding: 20px 40px ;
            border-radius: 12px;
            font-size: 14px;
            font-weight: bold;
            border-bottom: 3px solid rgb(197, 167, 35);
            
        }
        
        botton:hover{
            background: rgb(255, 208, 0);
        }
    
    }

    /* footer */

    footer{
        position: fixed;
        bottom: 0;
    }
        
    .footer{
        background: black;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold;
        padding: 5px 20px 5px 20px;
        margin-top: 100px;
        overflow: hidden;
    }

   
    
    .footer .FL,
    .footer .FC,
    .footer .FR{
          display: inline-block;
          vertical-align: top;
    }
    
    
    
    .footer .FL{
    width: 20%;
    text-align: center; 
    }

    .FL{
        margin:  auto;
        display: flex;
        align-items: center;
    }
    
    .footer h3{
        color:#FFFFFF ;
        margin: 0;
        padding-bottom: -7px;
    }
    
    .footer h6{
        color: #FFFFFF;
        margin: 0;
        padding-top: 5%;
    }

    .footer h4{
        color: #FFFFFF;
        margin: 0;
        
    }
    
    .footer .FC{
        width: 30%;
        margin: 0;
        text-align: center; 
    }
    
    .FC .Ig .a{
        display: inline-block;
        color: #FFFFFF;
        vertical-align: middle;
        padding-bottom: 2px;
        
       
    }
    .FC a{
        font-size: 15px;
        font-style: none;
        list-style: none;
    }
    .FC .Fb .a{
        display: inline-block;
        color: #FFFFFF;
        vertical-align: middle;
        padding-top: 10%;
       
    }
    
    .footer .FR{
        width: 30%;
        margin: 0;
        text-align: center; 
    }
    
    .footer .FR .forinfo{
        line-height: 20px;
    }
    
    .footer .FR .forinfo a {
        position: relative;
        margin-left: 100px;
    }


